<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44365/HackdayTopic.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding"
                contract="IHackdayTopicOperation" name="BasicHttpBinding" />
        </client>
    </system.serviceModel>
</configuration>